    <!-- Getting Started -->
    <section id="getting-started">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Getting Started</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    <pre>python <(curl https://raw.githubusercontent.com/screwdriver-cd/screwdriver/master/in-a-box.py)</pre>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-7">
                    Run the above command in your terminal to bring up a Screwdriver cluster locally.
                    <br /><br />
                    For setting up a production environment, take a look at our <a href="http://docs.screwdriver.cd/cluster-management/">documentation for cluster management.</a>
                </div>
                <div class="col-lg-3">
                    Minimum Requirements:
                    <ul>
                        <li>Python 2.7</li>
                        <li>Docker 1.12</li>
                        <li>Docker Compose 1.8.1</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
    <hr />
