    <!-- Getting Started -->
    <section id="getting-started" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Getting Started</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-10">
                    Run the command below in your terminal to bring up a Screwdriver cluster locally.
                    <br /><br />
                    <pre>python <(curl -L https://git.io/sd-in-a-box)</pre>
                </div>
                <div class="col-lg-1"></div>
            </div>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-8">
                    <br /><br />
                    This command will run a script that will create a Docker Compose file for you locally, complete with Oauth credentials using a generated JWT and a user-provided Oauth Client ID and secret.
                    If you choose to do so, it will then Docker pull the Screwdriver API, UI, and log store images to bring up an entire Screwdriver instance locally for you to play with.
                    All data written to a database will be stored in a data/ directory. For more configuration details, see our <a href="http://docs.screwdriver.cd/cluster-management/running-locally">SD-in-a-box documentation</a>.
                    <br /><br />
                    For setting up a production environment, take a look at our <a href="http://docs.screwdriver.cd/cluster-management">documentation for cluster management.</a>
                </div>
                <div class="col-lg-2">
                    <br /><br />
                    Minimum Requirements:
                    <ul>
                        <li>Python 2.7</li>
                        <a href="https://www.docker.com/products/docker"><li>Docker for Mac 1.12+</li></a>
                        <a href="https://www.docker.com/products/docker-compose"><li>Docker Compose 1.8.1+</li></a>
                        <li>Mac OSX 10.10+</li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
