    <!-- cdCon -->
    <section id="cdcon" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">cdCon 2021</h2>
                    <p>Screwdriver is proudly participating in
                        <a href="https://cdcon2021.sched.com/event/ioui/lightning-talk-events-of-screwdriver-alan-dong-jithin-emmanuel-verizon-media" rel="noopener">
                        cdCon 2021</a>. Please stop by and say hi.
                    </p>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-12">
                            <img class="sd-logo" style="display: block;width: 100%;height: auto;" src="img/events/cdcon-2021.png" alt="cdcon 2021 virtual event">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

        </div>
    </section>
