    <!-- hacktoberfest -->
    <section id="hacktoberfest" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <a href="//cd.foundation/hacktoberfest" target="_blank" rel="noopener">
                        <img src="{{site.baseurl}}/img/events/hacktoberfest-2022.png" class="img-responsive img-centered" alt="hacktoberfest 2022">
                    </a>
                    <br>
                    <h2 class="section-heading">Hacktoberfest</h2>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-1">
                            <img class="sd-logo" src="https://raw.githubusercontent.com/screwdriver-cd/homepage/master/brand/LOGOS/SVG/Screwdriver_Icon_Full.svg" alt="screwdriver-cd logo">
                        </div>
                        <div class="col-lg-11">
                            <p>
                                <a href="https://screwdriver.cd/" target="_blank" rel="noopener">Screwdriver</a> is an Open Source build platform designed for Continuous Delivery. We&rsquo;re also a <a href="https://cd.foundation/blog/2020/02/19/screwdriver-joins-cd-foundation-as-its-first-incubation-project-treating-continuous-delivery-as-a-first-class-citizen-in-the-build-pipeline/" target="_blank" rel="noopener">Continuous Delivery Foundation incubation project</a> <p>
                                You can use Screwdriver to create build pipelines for your project which is hosted in Github or Gitlab. Within a build pipeline you can configure multiple jobs to build, test and deploy your application. <a href="https://docs.screwdriver.cd/user-guide/quickstart" target="_blank" rel="noopener">Explore the user guide</a> to learn more!
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <p>
                        <img class="sd-design" src="https://docs.screwdriver.cd/cluster-management/assets/workflow.png" alt="">
                    </p>
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <p>
                        <b>Want to start contributing to Screwdriver?</b> <i>Awesome!</i><a href="https://docs.screwdriver.cd/about/contributing/" target="_blank" rel="noopener"> We’d love your help.</a>
                    </p>
                </div>
                <div class="col-lg-2"></div>
            </div>

            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <table class="table">
                      <thead>
                        <tr>
                          <th scope="col">Component</th>
                          <th scope="col">Keywords</th>
                          <th scope="col">Ideas & Links</th>
                        </tr>
                      </thead>
                      <tbody>
                        <tr>
                          <th scope="row">UI</th>
                          <td>CSS, Javascript, Ember.js</td>
                          <td>Improve usability of Screwdriver UI. UI specific issues <a href="https://github.com/screwdriver-cd/screwdriver/issues?q=is%3Aopen+label%3Aui+label%3A%22good+first+issue%22+label%3A%22hacktoberfest%22" target="_blank" rel="noopener">here</a>.
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">API</th>
                          <td>Node.js, hapi.js, sequelize</td>
                          <td>Adding features to the build pipeline via configuration, enhancing existing API functionality. API specific issues <a href="https://github.com/screwdriver-cd/screwdriver/issues?q=is%3Aopen+is%3Aissue+label%3A%22good+first+issue%22+label%3A%22hacktoberfest%22+-label%3A%22ui%22+" target="_blank" rel="noopener">here</a>.</td>
                        </tr>
                      </tbody>
                    </table>
                </div>
                <div class="col-lg-2"></div>
            </div>


            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <p>
                        Sign up for Hacktoberfest<a href="https://hacktoberfest.digitalocean.com/ " target="_blank" rel="noopener"> here.</a>
                        Questions or Suggestions?<a href="https://slack.screwdriver.cd/" target="_blank" rel="noopener"> Chat with the Screwdriver community on Slack!</a>
                    </p>
                </div>
                <div class="col-lg-2"></div>
            </div>

        </div>
    </section>
