    <!-- KubeCon -->
    <section id="kubecon" class="bg-light-gray">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h3 class="section-heading">KubeCon 2020</h3>
                    <p>Screwdriver is proudly participating in
                        <a href="https://events.linuxfoundation.org/kubecon-cloudnativecon-north-america/" rel="noopener">
                        KubeCon 2020</a>. Please stop by and say hi.
                    </p>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-2"></div>
                <div class="col-lg-8">
                    <div class="row">
                        <div class="col-lg-1">
                            <img class="sd-logo" src="img/events/kubecon-2020.png" alt=" kubecon-cloudnativecon-north-america virtual event">
                        </div>
                    </div>
                </div>
                <div class="col-lg-2"></div>
            </div>
        </div>
    </section>
