#features i.fa {
    color: #{{ site.data.template.color.primary }};
}

#features a {
    cursor: pointer;
}

#getting-started pre {
    background-color: #000;
    color: #FFF;
    padding: 25px;
}

#team .team-member a:hover img {
    border: 7px solid #{{ site.data.template.color.primary }};
}

#team .team-member h4 {
    font-size: 17px;
}

footer .row {
    font-size: 12px;
    text-align: left;
}

footer .row h4 {
    font-size: 14px;
    padding-left: 40px;
}

footer .row .quicklinks {
    line-height: 25px;
    list-style: none;
    text-align: left;
}

footer .credits {
    font-size: 10px;
    text-align: center;
}

#description p {
    font-weight: 300;
    font-size: 25px;
}
