#getting-started pre {
    background-color: #000;
    color: #FFF;
    padding: 25px;
}

#team .team-member a:hover img {
    border: 7px solid #{{ site.data.template.color.primary }};
}

#team .team-member h4 {
    font-size: 17px;
}

#description p {
    font-weight: 300;
    font-size: 25px;
}
